In [1]:
# Criação de Series (colunas)

In [2]:
import pandas as pd
import numpy as np

In [3]:
# Criar Series int63
pd.Series([1, 5, 7, 6])

0    1
1    5
2    7
3    6
dtype: int64

In [4]:
# Criar Series float64
pd.Series([1, 5, 7, 6.3])

0    1.0
1    5.0
2    7.0
3    6.3
dtype: float64

In [5]:
# Criar Series object
pd.Series([1, 5, 7, 6.3, '90'])

0      1
1      5
2      7
3    6.3
4     90
dtype: object

In [6]:
# Criar Serie com lista aleatória gerada pelo numpy
pd.Series(np.random.randn(5), index = ['a', 'b', 'c', 'd', 'e'])

a    0.159900
b    0.927288
c   -1.094782
d   -0.996380
e   -1.484693
dtype: float64

In [7]:
# Criar Serie com dicionário
pd.Series({'a' : 12, 'b' : 15, 'c' : 20})

a    12
b    15
c    20
dtype: int64

In [8]:
# Criar duas series com valores aleatórios
a = pd.Series(np.random.randn(5))
b = pd.Series(np.random.randn(5))

In [9]:
# Retorna valor da série a
a

0    0.892926
1   -2.228064
2   -0.195059
3   -1.663568
4   -0.285980
dtype: float64

In [10]:
# Retorna valor da série b
b

0    1.522804
1   -2.681845
2   -0.883190
3    1.264685
4    0.501281
dtype: float64

In [11]:
# Retorna valor de a, sem atualização de dados
a + 1

0    1.892926
1   -1.228064
2    0.804941
3   -0.663568
4    0.714020
dtype: float64

In [12]:
# Média de b
np.average(b)

-0.05525298018763465

In [13]:
# Desvio padrão 
np.std(b)

1.5573499733585368

In [14]:
import os
from pathlib import Path
p = Path(os.getcwd())
alugueis = pd.read_csv(str(p.parent) + '\\bases_de_dados\\houses_to_rent.csv')

In [15]:
alugueis.head(4)

,Unnamed: 0,city,area,rooms,bathroom,parking spaces,floor,animal,furniture,hoa,rent amount,property tax,fire insurance,total
0,0,1,240,3,3,4,-,acept,furnished,R$0,"R$8,000","R$1,000",R$121,"R$9,121"
1,1,0,64,2,1,1,10,acept,not furnished,R$540,R$820,R$122,R$11,"R$1,493"
2,2,1,443,5,5,4,3,acept,furnished,"R$4,172","R$7,000","R$1,417",R$89,"R$12,680"
3,3,1,73,2,2,1,12,acept,not furnished,R$700,"R$1,250",R$150,R$16,"R$2,116"