In [1]:
# Cria coluna com assign com função e lambda

In [2]:
import pandas as pd
import numpy as np

In [3]:
import os
from pathlib import Path
p = Path(os.getcwd())
df = pd.read_csv(str(p.parent) + '\\bases_de_dados\\houses_to_rent.csv')
df_copia = df.copy()

In [4]:
df.head(3)

,Unnamed: 0,city,area,rooms,bathroom,parking spaces,floor,animal,furniture,hoa,rent amount,property tax,fire insurance,total
0,0,1,240,3,3,4,-,acept,furnished,R$0,"R$8,000","R$1,000",R$121,"R$9,121"
1,1,0,64,2,1,1,10,acept,not furnished,R$540,R$820,R$122,R$11,"R$1,493"
2,2,1,443,5,5,4,3,acept,furnished,"R$4,172","R$7,000","R$1,417",R$89,"R$12,680"

In [5]:
# Criar função para passar o assign
def funcao_multiplicacao(df):
    return df.area * df.rooms

In [6]:
# Criar nova coluna com função
df_copia.assign(multiplicacao = funcao_multiplicacao).loc[:3, ['area','rooms','multiplicacao']]

   area  rooms  multiplicacao
0   240      3            720
1    64      2            128
2   443      5           2215
3    73      2            146

In [7]:
# Criar nova coluna com lambda
df.assign(soma_lambda = lambda x: x.rooms + x.bathroom).loc[:3, ['rooms','bathroom','soma_lambda']]

   rooms  bathroom  soma_lambda
0      3         3            6
1      2         1            3
2      5         5           10
3      2         2            4