In [1]:
# Criação de Dataframes

In [2]:
import pandas as pd
import numpy as np

In [3]:
# Criar dataframe com duas listas (cada lista uma linha)
s1 = pd.Series([1, 2, 3, 4], name = 'c1')
s2 = pd.Series([1, 2, 3, 4], name = 'c2')

pd.DataFrame([s1,s2])

    0  1  2  3
c1  1  2  3  4
c2  1  2  3  4

In [4]:
# Criar dataframe com duas listas (cada lista uma coluna)
s1 = pd.Series([1, 2, 3, 4], name = 'c1')
s2 = pd.Series([1, 2, 3, 4], name = 'c2')

pd.DataFrame({s1.name: s1, s2.name: s2})

   c1  c2
0   1   1
1   2   2
2   3   3
3   4   4