In [1]:
#Selecionar séries utilizando loc e iloc

In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.DataFrame(np.random.randn(5,5), columns=[*'ABCDE'], index = [*'abcde'])

In [4]:
df.head()

          A         B         C         D         E
a  0.809522  1.572740 -0.596398 -0.089080  1.031391
b -0.852867  1.556601 -1.951188 -0.458019  0.391469
c  0.208002  0.305766 -0.322989  0.038059 -0.853215
d  1.183988 -1.561739  0.947338  0.819164  1.155357
e  1.272267 -0.102797  0.598882 -1.284669 -0.665950

In [5]:
#Selecionar uma série utilizando loc 
df.loc['a']

A    0.809522
B    1.572740
C   -0.596398
D   -0.089080
E    1.031391
Name: a, dtype: float64

In [6]:
#Selecionar várias séries utilizando loc 
df.loc['a':'c']

          A         B         C         D         E
a  0.809522  1.572740 -0.596398 -0.089080  1.031391
b -0.852867  1.556601 -1.951188 -0.458019  0.391469
c  0.208002  0.305766 -0.322989  0.038059 -0.853215

In [7]:
#Selecionar uma série utilizando iloc 
df.iloc[2]

A    0.208002
B    0.305766
C   -0.322989
D    0.038059
E   -0.853215
Name: c, dtype: float64

In [8]:
#Selecionar várias séries utilizando iloc 
df.iloc[0:2]

          A         B         C         D         E
a  0.809522  1.572740 -0.596398 -0.089080  1.031391
b -0.852867  1.556601 -1.951188 -0.458019  0.391469