In [1]:
# Indexação e atributos

In [2]:
import pandas as pd
import numpy as np

In [3]:
#Gerar um df com números aleatórios com numpy.
#np.random.randn(linha,coluna)

df = pd.DataFrame(np.random.randn(3,5))

In [4]:
df.head(3)

          0         1         2         3         4
0  1.659441 -0.615568 -0.295142 -0.262465 -0.676484
1  0.631811 -0.913391  0.013186 -1.444731 -0.613358
2  0.723729 -2.133402  0.680420 -1.089156  1.965967

In [5]:
#Gerar um df com números aleatórios utilizando np.random.randn(linha,coluna)
#e determinando os nomes de linhas e colunas

df = pd.DataFrame(np.random.randn(3,3), index = range(5,8), columns=[*'ABC'])

In [6]:
df.head(3)

          A         B         C
5 -0.268988 -1.664022  0.237104
6  0.469115 -0.309782 -0.175049
7 -0.596374  0.878547  1.085792

In [7]:
#Gerar um df com números aleatórios utilizando np.random.randn(linha,coluna)
#e determinando os nomes de linhas como datas e colunas

datas = pd.date_range('03/18/2022', periods = 3)

df = pd.DataFrame(np.random.randn(3,3), index = datas, columns=[*'ABC'])

In [8]:
df.head(3)

                   A         B         C
2022-03-18 -2.197153  0.073124  0.754222
2022-03-19  0.253189 -0.706511  1.487342
2022-03-20  1.070572 -0.709410 -0.555952

In [9]:
#Alterar o nome das linhas
df.index = [1, 2, 5]

In [10]:
df.head(3)

          A         B         C
1 -2.197153  0.073124  0.754222
2  0.253189 -0.706511  1.487342
5  1.070572 -0.709410 -0.555952