In [1]:
#Exportando dataframes para arquivos csv e xlsx

In [2]:
import pandas as pd
import numpy as np

In [3]:
#Criar dataframe com dados
albuns = ["Bonito, Lindo e Joiado", 
"O Dinheiro Não é Tudo, Mas é 100%", 
"A Besteira é a Base da Sabedoria", 
"A Um Passo da MPB", 
"Quanto Pior, Melhor", 
"500 Anos de Chifre", 
"Do Penico à Bomba Atômica", 
"Maxximum", 
"What P***A iis This?", 
"Sucessão de Sucessos Que Se Sucedem Sucessivamente Sem Cessar",
"Under the Blade",
"You Can't Stop Rock'n Roll",
"Stay Hungry",
"Come Out and Play",
"Love is for Suckers",
"Big Hits and Nasty Cuts",
"Still Hungry"
]

anos = [
    1992, 1994, 1995, 1997, 1998, 1999, 2000, 2005, 2006, 2014,
    1982, 1983, 1984, 1985, 1987, 1992, 2004
]
artistas = []
for i in range(0,10):
    artistas.append("Falcão")
for i in range(0,7):
    artistas.append("Twisted Sister")

dados = {"Album" : albuns, "Ano": anos, "Artista": artistas}
discografia = pd.DataFrame(dados)

In [4]:
discografia.head(3)

                               Album   Ano Artista
0             Bonito, Lindo e Joiado  1992  Falcão
1  O Dinheiro Não é Tudo, Mas é 100%  1994  Falcão
2   A Besteira é a Base da Sabedoria  1995  Falcão

In [5]:
#Exportar dataframe para arquivo csv
discografia.to_csv('aula_03_discografia.csv')

In [6]:
#Exportar dataframe sem índice para arquivo csv
discografia.to_csv("aula_03_discografia_sem_indice.csv", index=False)

In [7]:
#Exportar dataframe para arquivo excel
discografia.to_excel('aula_03_discografia.xlsx')