In [1]:
# Importando dados de um csv utilizando pandas

In [2]:
# Importar o pandas
import pandas as pd

In [3]:
# Lendo  o arquivo csv
df = pd.read_csv('aula_0_01.csv', encoding = 'UTF-8', sep = ';', header = 0)

In [4]:
# Retorna primeiras x linhas do df
df.head(4)

,AddressID,AddressLine1,AddressLine2,City,StateProvinceID,PostalCode,SpatialLocation,rowguid,ModifiedDate
0,1,1970 Napa Ct.,NaN,Bothell,79,98011,0xE6100000010CAE8BFC28BCE4474067A89189898A5EC0,9AADCB0D-36CF-483F-84D8-585C2D4EC6E9,2007-12-04 00:00:00.000
1,2,9833 Mt. Dias Blv.,NaN,Bothell,79,98011,0xE6100000010CD6FA851AE6D74740BC262A0A03905EC0,32A54B9E-E034-4BFB-B573-A71CDE60D8C0,2008-11-30 00:00:00.000
2,3,7484 Roundtree Drive,NaN,Bothell,79,98011,0xE6100000010C18E304C4ADE14740DA930C7893915EC0,4C506923-6D1B-452C-A07C-BAA6F5B142A4,2013-03-07 00:00:00.000
3,4,9539 Glenside Dr,NaN,Bothell,79,98011,0xE6100000010C813A0D5F9FDE474011A5C28A7C955EC0,E5946C78-4BCC-477F-9FA1-CC09DE16A880,2009-02-03 00:00:00.000

In [5]:
# Lendo e selecionando apenas algumas colunas do csv
df = pd.read_csv('aula_0_01.csv', encoding = 'UTF-8', sep = ';', header = 0, usecols=['AddressID','City'])

In [6]:
# Retorna primeiras x linhas do df
df.head(4)

   AddressID     City
0          1  Bothell
1          2  Bothell
2          3  Bothell
3          4  Bothell

In [7]:
# Retorna quantidade de linha e coluna do df
df.shape

(1000, 2)