In [1]:
#Altera o tipo utlizando dtypes e astype

In [2]:
import pandas as pd
import numpy as np

In [3]:
import os 
from pathlib import Path
import os
from pathlib import Path
p = Path(os.getcwd())
df = pd.read_csv(str(p.parent) + '\\bases_de_dados\\houses_to_rent.csv')

In [4]:
df.head(3)

,Unnamed: 0,city,area,rooms,bathroom,parking spaces,floor,animal,furniture,hoa,rent amount,property tax,fire insurance,total
0,0,1,240,3,3,4,-,acept,furnished,R$0,"R$8,000","R$1,000",R$121,"R$9,121"
1,1,0,64,2,1,1,10,acept,not furnished,R$540,R$820,R$122,R$11,"R$1,493"
2,2,1,443,5,5,4,3,acept,furnished,"R$4,172","R$7,000","R$1,417",R$89,"R$12,680"

In [5]:
#Criar um dicionário com a descrição dos títulos das colunas
df.dtypes

Unnamed: 0         int64
city               int64
area               int64
rooms              int64
bathroom           int64
parking spaces     int64
floor             object
animal            object
furniture         object
hoa               object
rent amount       object
property tax      object
fire insurance    object
total             object
dtype: object

In [6]:
#Alterar tipo de dado
df['area'] = df['area'].astype(np.int8)

In [7]:
df.dtypes

Unnamed: 0         int64
city               int64
area                int8
rooms              int64
bathroom           int64
parking spaces     int64
floor             object
animal            object
furniture         object
hoa               object
rent amount       object
property tax      object
fire insurance    object
total             object
dtype: object

In [8]:
#Colocar como dados categóricos
df["city"] = df["city"].astype("category")
df["animal"] = df["animal"].astype("category")
df["furniture"] = df["furniture"].astype("category")

In [9]:
df.dtypes

Unnamed: 0           int64
city              category
area                  int8
rooms                int64
bathroom             int64
parking spaces       int64
floor               object
animal            category
furniture         category
hoa                 object
rent amount         object
property tax        object
fire insurance      object
total               object
dtype: object