In [1]:
#Descreve o nome das colunas do dataframe

In [2]:
import pandas as pd
import numpy as np

In [3]:
import os 
from pathlib import Path
import os
from pathlib import Path
p = Path(os.getcwd())
df = pd.read_csv(str(p.parent) + '\\bases_de_dados\\houses_to_rent.csv')

In [4]:
df.head(3)

,Unnamed: 0,city,area,rooms,bathroom,parking spaces,floor,animal,furniture,hoa,rent amount,property tax,fire insurance,total
0,0,1,240,3,3,4,-,acept,furnished,R$0,"R$8,000","R$1,000",R$121,"R$9,121"
1,1,0,64,2,1,1,10,acept,not furnished,R$540,R$820,R$122,R$11,"R$1,493"
2,2,1,443,5,5,4,3,acept,furnished,"R$4,172","R$7,000","R$1,417",R$89,"R$12,680"

In [5]:
#Criar um dicionário com a descrição dos títulos das colunas
descricao = {
    'city': ['cidade onde o imóvel está localizado'],
    'area': ['area em m² do imovel'],
    'rooms': ['quantidade de quartos']
}

In [6]:
descricao_df = pd.DataFrame(descricao)

In [7]:
#T transpõe os dados
descricao_df.T

                                          0
city   cidade onde o imóvel está localizado
area                   area em m² do imovel
rooms                 quantidade de quartos

In [8]:
descricao2 = {
    'nome_coluna': ['city','area','rooms'],
    'descricao': ['cidade onde o imóvel está localizado', 'area em m²', 'quantidade de quartos'],
    'tipo_dado': ['numérico','numérico','quantitativo'],
    'tipo_dado_np': ['int64', 'int64', 'int64']
}

In [9]:
descricao2_df = pd.DataFrame(descricao2)

In [10]:
descricao2_df.T

,0,1,2
nome_coluna,city,area,rooms
descricao,cidade onde o imóvel está localizado,area em m²,quantidade de quartos
tipo_dado,numérico,numérico,quantitativo
tipo_dado_np,int64,int64,int64